@CHARSET "UTF-8";

body {

}


/* 固定高度占位符 */
.height10 {
	width: 100%;
	height: 10px;
}

.height5 {
	width: 100%;
	height: 5px;
}

/* 查询表格 */
.query-main{
	margin-left: 10px;
}

/* 文字区域 */
.form-text {
	color:#858585;
	padding-right: 8px;
	text-align: left;
}

.form-widget {
	width: 200px;
}
