@CHARSET "UTF-8";

*{
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma,
		"Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

/* 查询区域 */
.query-area {
	
}

/* 结果区域 */
.data-area {
	background-color: white;
	padding: 1px 0 0 0;/* 上部留空 */
	margin: 0;
}

/* 数据分析页选择按钮 */
.analyse-checkbox {
	float: left;
	margin: 3px;
	padding: 3px 5px;
	border: 1.5px solid #d0d0d0;
	border-radius:4px;
	text-align: center;
	color: #a2a2a2;
	cursor:pointer;
}

/* 数据分析页选择按钮选中 */
.analyse-checkbox-select {
	border: 1.5px solid #6a99e4;
	border-radius:4px;
	color: #6a99e4;
}

/* 数据分析页选择按钮-单选 */
.analyse-radio {
/* 	float: left;
	margin: 0px;
	padding: 3px 5px;
	border: 1.5px solid #d0d0d0;
	text-align: center;
	color: #a2a2a2;
	cursor:pointer; */
	float: left;
	margin: 3px;
	padding: 3px 5px;
	border: 1.5px solid #d0d0d0;
	border-radius:4px;
	text-align: center;
	color: #a2a2a2;
	cursor:pointer;
}

.analyse-radio-select {
/* 	background-color:#faa42a;
	color:white; */
	border: 1.5px solid #6a99e4;
	border-radius:4px;
	color: #6a99e4;
}
/* 数据分析页选择按钮-单选模拟标签 */
.analyse-tab-radio {
	float: left;
	margin: 0px;
	padding: 3px 5px;
	border: 0px;
	color: #a2a2a2;
	text-align: center;
	cursor:pointer;
}

.analyse-tab-radio-select {
	color:#5784dd;
	border-bottom: 2px solid #5784dd;
}

/* 查询按钮 */
.query-btn {
	background: #5997EC;
	border: 0px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	color: #fff;
	box-shadow: -1px 1px 2px #c5c6ca;
}

